.page-1,
.page-2 {
  height: min-content;
  padding: 20px;
  border-radius: 12px;
  background: #ffff;

}

.dashboard-content h2 {
  font-size: 36px;
  margin-bottom: 25px;
}


form .form-group {
  margin-bottom: 12px;
  padding: 0 2px;
}

.button-group button {
  display: block;
  margin: 10px;
}

.hidden {
  display: none;
}

.button-group {
  display: flex;
  width: min-content;
  margin: 0 auto;
  justify-content: space-around;
}

.alert {
  text-align: center;
}


@media screen and (max-width: 500px) {
  .button-group {
    width: 100%;
    text-align: center;
  }

  .button-group button {
    width: 80%;
  }
}