.table-header {
  display: flex;
  justify-content: space-between;
  background-color: #9a9fa469;
  padding: 0 150px;
  margin-top: 20px;
}

.table-header span {
  font-size: 20px;
  font-weight: 500;
}

#btn-addMotorista {
  visibility: hidden;
}

.btn-link-excluir {
  color: red;
}

.btn-link-excluir:hover {
  color: red;
}

#servidor-indisponivel-alert {
  margin-top: 10px;
}